name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean install
        working-directory: backend/portfolio_manager
        
      - name: Run tests with H2 profile
        run: mvn test
        working-directory: backend/portfolio_manager
        env:
            SPRING_PROFILES_ACTIVE: test  # Activates the 'test' profile with H2 database configuration


      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: portfolio-backend-jar
          path: target/*.jar
