name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build backend with Maven
        run: mvn clean verify -Dspring.profiles.active=test
        working-directory: backend/portfolio_manager

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: portfolio-backend-jar
          path: target/*.jar
